.memorable {
    padding: 100px 0;

    @media (max-width: $breakpoint-xl) {
        padding: 80px 0;
    }

    @media (max-width: $breakpoint-lg) {
        padding: 60px 0;
    }

    @media (max-width: $breakpoint-lg) {
        padding: 40px 0;
    }
}

.memorable__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-lg) {
        img {
            width: 40%;
            height: auto;
        }
    }

    @media (max-width: $breakpoint-md) {
        flex-direction: column;

        img {
            padding-top: 40px;
            width: 70%;
            height: auto;
        }
    }

    @media (max-width: $breakpoint-sm) {
        gap: 14px;
        img {
            width: 70%;
            height: auto;
        }
    }
}

.memorable__content-info {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: $breakpoint-md) {
        text-align: center;
    }

    @media (max-width: $breakpoint-sm) {
        gap: 0;
    }
}

.memorable__content-text {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media (max-width: $breakpoint-sm) {
        text-align: left;
        gap: 12px;

        p {
            display: none;
        }

        .mem__br {
            display: block;
        }
    }
}

.memorable__content-buttons {
    display: flex;
    gap: 32px;
    @media (max-width: $breakpoint-md){
        justify-content: space-between;
    }
    @media (max-width: $breakpoint-sm) {
        display: none;
    }
}

.memorable__content-button{
    display: flex;
    align-items: center;
    background: none;
    font-size: 18px;
    border-bottom: 1px solid $dark-second;
    color: $dark-second;
}


.mem__br {
    display: none;
}