$base-color: #737373;
$primary: #25A59E;
$dark: #262626;
$dark-second: #333333;
$white: white;
$black: black;
$light-icon: #EE8F39;
$light: #f5f7fa;
$light-second: #D9D9D9;
$light-third: #FAFAFA;
$light-forth: #F2F2F2;
$light-five: #EAFAF9;
$light-six: #FFFFFFCC;
$light-seven:#A6A6A6;
$gray: #8C8C8C;


$container-5: 335px;
$container-4: 630px;
$container-3: 850px;
$container-2: 1090px;
$container-1: 1200px;

$breakpoint-0: 0;
$breakpoint-5: 374px;
$breakpoint-4: 680px;
$breakpoint-3: 870px;
$breakpoint-2: 1182px;
$breakpoint-1: 1439px;

$H_img-4: 473px;
$H_img-3: 780px;
$H_img-2: 920px;
$H_img-1: 1070px;
