$base-color: #737373;
$primary: #25A59E;
$dark: #262626;
$dark-second: #333333;
$white: white;
$black: black;
$light-icon: #EE8F39;
$light: #f5f7fa;
$light-second: #D9D9D9;
$light-third: #FAFAFA;
$light-forth: #F2F2F2;
$light-five: #EAFAF9;
$light-six: #FFFFFFCC;
$light-seven:#A6A6A6;
$gray: #8C8C8C;


$container-sm: 630px;
$container-md: 850px;
$container-lg: 1090px;
$container-xl: 1200px;

$breakpoint-xs: 0;
$breakpoint-sm: 680px;
$breakpoint-md: 870px;
$breakpoint-lg: 1182px;
$breakpoint-xl: 1439px;
